services:
  db:
    image: postgres:17-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fuzzy_catalog
    healthcheck:
      test: pg_isready
      interval: 10s
      timeout: 3s
      retries: 3
    restart: unless-stopped
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    user: "65534:65534" # nobody user
    volumes:
      - uploads:/app-uploads
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy
        restart: true
    restart: unless-stopped
    env_file: .env.docker
volumes:
  postgres_data:
  uploads:
